In [50]:
import pandas as pd
import seaborn as sns
import os, glob
import matplotlib.pyplot as plt
import numpy as np

root_data = ''
wildcard = "*.csv"

# Load weather data
files = glob.glob(os.path.join(root_data, wildcard))
files.sort()
files = [f for f in files if "resampled" not in f]
files

['fNew 2019 12.csv',
 'fNew 2021 11.csv',
 'fNew 2021 12.csv',
 'fNew 2022 1.csv',
 'fNew 2022 2.csv',
 'fNew 2022 3.csv',
 'fnew-2022-10.csv',
 'fnew-2022-4.csv',
 'fnew-2022-5.csv',
 'fnew-2022-6.csv',
 'fnew-2022-7.csv',
 'fnew-2022-8.csv',
 'fnew-2022-9.csv']

In [54]:
df_join = None
for file in files[:]:
    df = pd.read_csv(file)
    if df_join is None:
            df_join = df
    else:
        df_join = pd.concat([df_join, df])

In [55]:
df_join.head(), df_join.shape

(                         dtm       f
 0  2019-12-01 00:00:00 +0000  50.118
 1  2019-12-01 00:00:01 +0000  50.117
 2  2019-12-01 00:00:02 +0000  50.111
 3  2019-12-01 00:00:03 +0000  50.100
 4  2019-12-01 00:00:04 +0000  50.089,
 (34214400, 2))

In [56]:
df_join['dtm'] = pd.to_datetime(df_join['dtm'], utc=True)
df_join = df_join.set_index('dtm')

KeyboardInterrupt:

In [ ]:
# Downsample the weather data to every 30 min instead
df_resample = df_join.resample('30min').agg(['min','max', 'mean', 'sum'])
df_resample.head()

                                f
                              min     max       mean        sum
dtm
2019-12-01 00:00:00+00:00  49.952  50.139  50.048194  90086.749
2019-12-01 00:30:00+00:00  49.851  50.059  49.926807  89868.252
2019-12-01 01:00:00+00:00  49.892  50.042  49.962614  89932.705
2019-12-01 01:30:00+00:00  49.941  50.067  50.003465  90006.237
2019-12-01 02:00:00+00:00  49.900  50.062  50.002399  90004.318

In [ ]:
df_resample.columns = ['_'.join(tup).rstrip('_') for tup in df_resample.columns.values]
df_resample.reset_index(inplace=True)
df_resample.head()

                        dtm   f_min   f_max     f_mean      f_sum
0 2019-12-01 00:00:00+00:00  49.952  50.139  50.048194  90086.749
1 2019-12-01 00:30:00+00:00  49.851  50.059  49.926807  89868.252
2 2019-12-01 01:00:00+00:00  49.892  50.042  49.962614  89932.705
3 2019-12-01 01:30:00+00:00  49.941  50.067  50.003465  90006.237
4 2019-12-01 02:00:00+00:00  49.900  50.062  50.002399  90004.318

In [ ]:
df_resample.to_csv(os.path.join(root_data, 'freq_resampled.csv'))