In [4]:
import pandas as pd
import requests
from datetime import datetime
from dateutil import parser

from urllib import parse
from data_pull import data_pull_date
from data_pull import data_pull_all

### File Codes

In [5]:
# Energy Generation Type (All)
# "f93d1835-75bc-43e5-84ad-12472b180a98"
# https://data.nationalgrideso.com/carbon-intensity1/historic-generation-mix/r/historic_gb_generation_mix

# Energy Demand (2019)
# dd9de980-d724-415a-b344-d8ae11321432
# https://data.nationalgrideso.com/demand/historic-demand-data/r/historic_demand_data_2019

# "18c69c42-f20d-46f0-84e9-e279045befc6" (2021)


# Energy Cost (2019-2020 Financial Year)
# 6a03c415-475f-4005-bf55-b9108291c511
# https://data.nationalgrideso.com/trade-data/historic-gtma-grid-trade-master-agreement-trades-data/r/historic_gtma_trades_data_-_apr_2019_-_march_2020

# System Frequency (Dec 2019)
# f0933bdd-1b0e-4dd3-aa7f-5498df1ba5b9    
# https://data.nationalgrideso.com/system/system-frequency-data/r/december_2019_-_historic_frequency_data

# Metered Wind Power (2019 - 2020)
#c36868d9-9d43-47ce-ac3e-de69f0bb6222
#https://data.nationalgrideso.com/generation/monthly-operational-metered-wind-output/r/monthly_operational_metered_wind_output_2019-2020

### Load Generation Data

In [39]:
date_start = "2021-11-01T00:00:00.000Z"
date_end = "2022-10-31T23:59:59.999Z"
entry_limit = '100000'

#path = "C:\\Users\\kmp57\\Desktop\\Documents\\GitHub\\grid-uk-ml\\data\\"
path = "\\\\ad\\ap\\homes$\\kmp57\\My Documents\\GitHub\\grid-uk-ml\\data\\"

datacode_gen1 = "f93d1835-75bc-43e5-84ad-12472b180a98"

## Load Data
datevar = "DATETIME"
gen = data_pull_date(datacode_gen1,datevar,date_start,date_end,entry_limit)

gen[datevar] = pd.to_datetime(gen[datevar], format="%Y/%m/%d %H:%M:%S")
gen[datevar] = gen[datevar].dt.tz_localize(None)

## Check Data Start and End times
start_time = gen.loc[0,datevar]
start_str = "Start Time: {}".format(start_time)
print(start_str)

idx = gen.index[-1]
end_time = gen.loc[idx,datevar]
end_str = "End Time: {}".format(end_time)
print(end_str)

# period = datetime.strptime("00:30:00", '%H:%M:%S').time()
# period_str = "Period: {}".format(period)
# print(period_str)     
# print(gen.size)

## Seperate Wind Data by Month and save each
T = 48 #Number of 30 min in day
idx_list = gen.index[0::T] # Find index for each day
dtm = gen.loc[idx_list,datevar] # Get each date of measurement

dtm_unique = []
for ii in dtm:
    dtm_unique.append(ii.strftime("%Y-%m"))
dtm_unique = set(dtm_unique) # Find each unique month
# print(dtm_unique)


# Assign dataframe key
dtm = gen[datevar].dt.strftime("%Y-%m") # Get all dates in dataset
gen[datevar] = pd.to_datetime(gen[datevar], format="%Y/%m/%d %H:%M")
gen = gen.set_index(datevar)
gen.index.names = ['Datetime']

## Save Data
for ii in dtm_unique:    
    date_match = [ii==j for j in dtm]
    gen_month =  gen.loc[date_match,:] #Extract and save all data for each unique month
    
    filename = path + "Generation\\gen_" + ii + ".csv"
    gen_month.to_csv(filename)

Start Time: 2021-11-01 00:00:00
End Time: 2022-10-31 23:30:00

In [40]:
gen.head()

,RENEWABLE_perc,NUCLEAR,HYDRO_perc,STORAGE,IMPORTS_perc,SOLAR_perc,LOW_CARBON,BIOMASS_perc,HYDRO,STORAGE_perc,...,ZERO_CARBON,_count,_full_text,BIOMASS,GAS_perc,OTHER_perc,WIND,SOLAR,_id,RENEWABLE
Datetime,,,,,,,,,,,,,,,,,,,,,
2021-11-01 00:00:00,55.8,5584.0,1.9,0,6.9,0.0,21002.0,4.4,476,0.0,...,19869.0,17520,"'+00':7 '-01':3 '-11':2 '0':18 '0.0':10,17,26,...",1133.0,10.5,0.5,13809.0,0.0,224977,14285.0
2021-11-01 00:30:00,55.7,5580.0,1.9,0,6.7,0.0,21069.0,4.4,478,0.0,...,19935.0,17520,"'+00':7 '-01':3 '-11':2 '0':18 '0.0':10,17,26,...",1134.0,11.0,0.6,13877.0,0.0,224978,14355.0
2021-11-01 01:00:00,56.2,5583.0,1.9,0,5.4,0.0,21009.0,4.5,481,0.0,...,19874.0,17520,"'+00':7 '-01':3 '-11':2 '0':18 '0.0':10,17,26,...",1135.0,11.4,0.6,13810.0,0.0,224979,14291.0
2021-11-01 01:30:00,56.0,5587.0,2.0,0,5.8,0.0,20730.0,4.5,494,0.0,...,19595.0,17520,"'+00':7 '-01':3 '-11':2 '0':18 '0.0':10,17,26,...",1135.0,10.7,0.6,13514.0,0.0,224980,14008.0
2021-11-01 02:00:00,57.0,5592.0,2.0,0,3.2,0.0,20722.0,4.6,499,0.0,...,19584.0,17520,"'+00':7 '-01':3 '-11':2 '0':18 '0.0':10,17,26,...",1138.0,11.7,0.6,13493.0,0.0,224981,13992.0

###  Load Demand Data

In [62]:
date_start = "2021-11-01T00:00:00.000Z"
date_end = "2022-10-31T23:59:59.999Z"
entry_limit = '100000'

#datacode_dem1 = "dd9de980-d724-415a-b344-d8ae11321432"
datacode_dem =  ["18c69c42-f20d-46f0-84e9-e279045befc6","bb44a1b5-75b1-4db2-8491-257f23385006"]
datevar = 'SETTLEMENT_DATE'

## Load Data
for code in datacode_dem:
    #dem = data_pull_all(datacode2,entry_limit)
    dem = data_pull_date(code,datevar,date_start,date_end,entry_limit)
    dem[datevar] = pd.to_datetime(dem[datevar], format="%Y/%m/%d %H:%M:%S")

    ## Check Data Start and End times
    start_time = dem.loc[0,datevar]
    start_str = "Start Time: {}".format(start_time)
    print(start_str)

    idx = dem.index[-1]
    end_time = dem.loc[idx,datevar]
    end_str = "End Time: {}".format(end_time)
    print(end_str)

    # period = datetime.strptime("00:30:00", '%H:%M:%S').time()
    # period_str = "Period: {}".format(period)
    # print(period_str)   
    # print(dem.size)



    ## Seperate Demand Data by Month and save each
    T = 48 #Number of 30 min in day
    idx_list = dem.index[0::T] # Find index for each day
    dtm = dem.loc[idx_list,datevar] # Get each date of measurement

    dtm_unique = []
    for ii in dtm:
        dtm_unique.append(ii.strftime("%Y-%m"))
    dtm_unique = set(dtm_unique) # Find each unique month
    # print(dtm_unique)

    # Assign dataframe key
    dtm = dem[datevar].dt.strftime("%Y-%m") # Get all dates in dataset   
    
    timevar = "SETTLEMENT_PERIOD"
    dem[timevar] = pd.to_numeric(dem[timevar])
    dem[timevar] = dem.SETTLEMENT_PERIOD/2*60 - 30
    
    dem[datevar] = dem[datevar] + dem[timevar].astype('timedelta64[m]')
    dem = dem.drop(timevar, axis=1)
    
    dem = dem.set_index(datevar)
    dem.index.names = ['Datetime']

    ## Save Data
    for ii in dtm_unique:    
        date_match = [ii==j for j in dtm]
        dem_month =  dem.loc[date_match,:] #Extract and save all data for each unique month
        
        filename = path + "Demand\\dem_" + ii + ".csv"
        dem_month.to_csv(filename)

Start Time: 2021-11-01 00:00:00
End Time: 2021-12-31 00:00:00
Start Time: 2022-01-01 00:00:00
End Time: 2022-10-31 00:00:00

### Load Cost Data

In [5]:
## Really complicated to handle

# datacode3 = "6a03c415-475f-4005-bf55-b9108291c511"
# cst = data_pull_all(datacode3,entry_limit)

# start_time = parser.parse(cst.loc[0,"Start Time"])
# start_str = "Start Time: {}".format(start_time)
# print(start_str)

# idx = cst.index[-1]
# end_time = parser.parse(cst.loc[idx,"Start Time"])
# end_str = "End Time: {}".format(end_time)
# print(end_str) 

# cst.dtypes

### Load Frequency Data

In [6]:
# datacode4 = "f0933bdd-1b0e-4dd3-aa7f-5498df1ba5b9"
# entry_limit = '3000000'

# freq = data_pull_all(datacode4,entry_limit)
# freq['dtm'] = pd.to_datetime(freq['dtm'], format="%Y/%m/%d %H:%M:%S")

# start_time = freq.loc[0,"dtm"]
# start_str = "Start Time: {}".format(start_time)
# print(start_str)

# idx = freq.index[-1]
# end_time = freq.loc[idx,"dtm"]
# end_str = "End Time: {}".format(end_time)
# print(end_str)

# period = freq.loc[1,"dtm"] - start_time
# period_str = "Period: {}".format(period)
# print(period_str)  
# print(freq.size)
# #freq.dtypes

### Load Wind Data

In [41]:
date_start = "2021-11-01T00:00:00.000Z"
date_end = "2022-10-31T23:59:59.999Z"
entry_limit = '100000'

#path = "C:\\Users\\kmp57\\Desktop\\Documents\\GitHub\\grid-uk-ml\\data\\"
path = "\\\\ad\\ap\\homes$\\kmp57\\My Documents\\GitHub\\grid-uk-ml\\data\\"

#datacode_wind = "c36868d9-9d43-47ce-ac3e-de69f0bb6222"
datacode_wind = ["e5df03f3-a25b-4df4-a95c-8a709815924b","f732e9bb-b573-46a7-8767-3affbbb29b45"]
datevar = 'Sett_Date'

## Load Wind Data
#wind = data_pull_all(datacode_wind,entry_limit)

for code in datacode_wind:
    wind = data_pull_date(code,datevar,date_start,date_end,entry_limit)
    wind[datevar] = pd.to_datetime(wind[datevar], format="%Y/%m/%d %H:%M:%S")


    ## Check Data Start and End times
    start_time = wind.loc[0,datevar]
    start_str = "Start Time: {}".format(start_time)
    print(start_str)

    idx = wind.index[-1]
    end_time = wind.loc[idx,datevar]
    end_str = "End Time: {}".format(end_time)
    print(end_str)


    ## Seperate Wind Data by Month and save each
    T = 48 #Number of 30 min in day
    idx_list = wind.index[0::T] # Find index for each day
    dtm = wind.loc[idx_list,datevar] # Get each date of measurement

    dtm_unique = []
    for ii in dtm:
        dtm_unique.append(ii.strftime("%Y-%m"))
    dtm_unique = set(dtm_unique) # Find each unique month
    # print(dtm_unique)

    # Assign dataframe key
    dtm = wind[datevar].dt.strftime("%Y-%m") # Get all dates in wind dataset   
    
    timevar = "Sett_Period"
    wind[timevar] = pd.to_numeric(wind[timevar])
    wind[timevar] = wind[timevar]/2*60 - 30
    
    wind[datevar] = wind[datevar] + wind[timevar].astype('timedelta64[m]')
    wind = wind.drop(timevar, axis=1)
    
    wind = wind.set_index(datevar)
    wind.index.names = ['Datetime']

    
    ## Save Data
    for ii in dtm_unique:    
        date_match = [ii==j for j in dtm]
        wind_month =  wind.loc[date_match,:] #Extract and save all data for each unique month
        
        filename = path + "Wind\\wind_" + ii + ".csv"
        wind_month.to_csv(filename)

Start Time: 2021-11-01 00:00:00
End Time: 2022-03-31 00:00:00
Start Time: 2022-04-01 00:00:00
End Time: 2022-10-31 00:00:00

In [42]:
wind.head()

,_count,Total,England/Wales Wind Output,_full_text,_id,Scottish Wind Output
Datetime,,,,,,
2022-04-01 00:00:00,10274,9017.24,7287.572,'-01':3 '-04':2 '1':4 '1729.668':5 '2022':1 '7...,1,1729.668
2022-04-01 00:30:00,10274,8960.026,7311.47,'-01':3 '-04':2 '1648.556':5 '2':4 '2022':1 '7...,2,1648.556
2022-04-01 01:00:00,10274,8868.106,7422.064,'-01':3 '-04':2 '1446.042':5 '2022':1 '3':4 '7...,3,1446.042
2022-04-01 01:30:00,10274,8918.044,7502.7,'-01':3 '-04':2 '1415.344':5 '2022':1 '4':4 '7...,4,1415.344
2022-04-01 02:00:00,10274,8864.886,7507.934,'-01':3 '-04':2 '1356.952':5 '2022':1 '5':4 '7...,5,1356.952